{
    "contributor-id" "360c0aed-48ce-45f6-ba13-337f12a531e8" 
    "description" "This verification check ensures that a model supports all of the species that it claims to. The verification check attempts to compute the energy for all clusters up to a preset size for all combinations of the species listed by the model.  Several random samples are generated for each cluster.  The check is successful if all elements appear in at least one successful calculation, i.e. the model does not abort during the calculation.  This algorithm accounts for the fact that some models may only support species in certain combinations.  For example a model supporting species A and B  may be for an AB alloy and may only support A-B interactions and not A-A or B-B. The output provides full information on which interactions are supported and which are not.  Note that this definition of 'support' does not imply that the model has non-trivial energy and/or force interactions for any of the species." 
    "developer" [
        "360c0aed-48ce-45f6-ba13-337f12a531e8"
    ] 
    "doi" "10.25950/67933cf4" 
    "domain" "openkim.org" 
    "executables" [
        "runner"
    ] 
    "extended-id" "SpeciesSupportedAsStated__VC_651200051721_002" 
    "kim-api-version" "2.0" 
    "maintainer-id" "360c0aed-48ce-45f6-ba13-337f12a531e8" 
    "matching-models" [
        "standard-models"
    ] 
    "properties" [
        "tag:tadmor@noreply.openkim.org,2017-02-01:property/verification-check"
    ] 
    "publication-year" "2019" 
    "simulator-name" "ase" 
    "title" "Verification check of species supported as stated v002"
}
