{
    "contributor-id" "360c0aed-48ce-45f6-ba13-337f12a531e8" 
    "description" "Comparison of the analytical forces obtained from the model with forces computed by numerical differentiation using Richardson extrapolation for a randomly distorted non-periodic structure based off the equilibrium face-centered cubic (fcc) structure. Separate configurations are tested for each species supported by the model, as well as one containing a random distribution of all species. Configurations used for testing are provided as auxiliary files." 
    "developer" [
        "360c0aed-48ce-45f6-ba13-337f12a531e8"
    ] 
    "doi" "10.25950/6ae3d5ed" 
    "domain" "openkim.org" 
    "executables" [
        "runner"
    ] 
    "extended-id" "ForcesNumerDeriv__VC_710586816390_003" 
    "kim-api-version" "2.0" 
    "maintainer-id" "360c0aed-48ce-45f6-ba13-337f12a531e8" 
    "matching-models" [
        "standard-models"
    ] 
    "properties" [
        "tag:tadmor@noreply.openkim.org,2017-02-01:property/verification-check"
    ] 
    "publication-year" "2019" 
    "simulator-name" "ase" 
    "title" "Verification check of forces via numerical differentiation (Richardson extrapolation technique) v003"
}
