{
  "title" "Equilibrium crystal structure and energy for CuSi in AFLOW crystal prototype A15B4_cI76_220_ae_c v003"
  "extended-id" "EquilibriumCrystalStructure_A15B4_cI76_220_ae_c_CuSi__TE_684342186166_003"
  "test-driver" "EquilibriumCrystalStructure__TD_457028483760_003"
  "species" ["Cu" "Si"]
  "developer" ["4ad03136-ed7f-4316-b586-1e94ccceb311"
               "360c0aed-48ce-45f6-ba13-337f12a531e8"
               "4d62befd-21c4-42b8-a472-86132e6591f3"
               "c4d2afd1-647e-4347-ae94-5e4772c16883"]
  "description" "Computes the equilibrium crystal structure and energy for CuSi in AFLOW crystal prototype A15B4_cI76_220_ae_c at zero temperature and applied stress by performing symmetry-constrained relaxation. The following initial guess for the parameters (representing cell and internal degrees of freedom) allowed to vary during the relaxation is used:\na (angstrom): 9.7137, x2: 0.20577948, x3: 0.16193009, y3: 0.9609475, z3: 0.11301793, obtained from OpenKIM Reference Data item RD_626961455730_000"
  "disclaimer" "Computer generated"
  "contributor-id" "4ad03136-ed7f-4316-b586-1e94ccceb311"
  "maintainer-id" "4ad03136-ed7f-4316-b586-1e94ccceb311"
  "kim-api-version" "2.3"
  "publication-year" "2025"
  "executables" ["runner"]
  "domain" "openkim.org"
  "matching-models" ["standard-models"]
}