{
    "contributor-id" "360c0aed-48ce-45f6-ba13-337f12a531e8" 
    "description" "Check whether a model is invariant with respect to rigid-body motion (translation and rotation) as required by objectivity (material frame-indifference). This is expected to be true for any model that does not depend on an external field. The check is performed for a randomly distorted non-periodic body-centered cubic (BCC) cube base structure.  Separate configurations are tested for each species supported by the model, as well as one containing a random distribution of all species.  The energy and forces of each configuration is compared with that of the same configuration rotated about a random axis by an irrational angle and translated in a random direction by an irrational distance. The verification check will pass if the energy of all configurations that the model is able to compute are invariant and the forces are mapped back by the inverse rotation.  Configurations used for testing are provided as auxiliary files." 
    "developer" [
        "360c0aed-48ce-45f6-ba13-337f12a531e8"
    ] 
    "doi" "10.25950/7e538eba" 
    "domain" "openkim.org" 
    "executables" [
        "runner"
    ] 
    "extended-id" "Objectivity__VC_813478999433_002" 
    "kim-api-version" "2.0" 
    "maintainer-id" "360c0aed-48ce-45f6-ba13-337f12a531e8" 
    "matching-models" [
        "standard-models"
    ] 
    "properties" [
        "tag:tadmor@noreply.openkim.org,2017-02-01:property/verification-check"
    ] 
    "publication-year" "2019" 
    "simulator-name" "ase" 
    "title" "Verification check of invariance with respect to rigid-body motion (objectivity) v002"
}
